# SYSTEM
TZ=UTC

# MYSQL
MYSQL_ROOT_PASSWORD=you_should_change_this_root_password
MYSQL_DATABASE=nekoshare
MYSQL_USER=nekoshare
MYSQL_PASSWORD=you_should_change_this_password

# REDIS
REDIS_PASSWORD=you_should_change_this_redis_password

# SERVER
GOOGLE_CLIENT_ID=replace_with_your_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace_with_your_client_secret
