@font-face {
  font-family: "LINESeedSansTH";
  src: url("./assets/fonts/LINESeedSansTH_W_Th.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedSansTH";
  src: url("./assets/fonts/LINESeedSansTH_W_Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedSansTH";
  src: url("./assets/fonts/LINESeedSansTH_W_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedSansTH";
  src: url("./assets/fonts/LINESeedSansTH_W_XBd.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "LINESeedSansTH";
  src: url("./assets/fonts/LINESeedSansTH_W_He.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "LINESeedSansTH", sans-serif;
}

html {
  user-select: none;
  overflow: hidden;
  --webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
